<!doctype html>
<html lang="pt-br" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Soluções completas em telefonia analógica, digital e IP, além de câmeras e redes.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Animate on Screen -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= title %>
  </title>
</head>

<body class="d-flex flex-column h-100">
  <main class="bg-white">
    <section>
      <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light container col-xxl-8">
          <div class="container-fluid">
            <a class="navbar-brand text-white fs-4 fw-bold" href="/" data-aos="zoom-out-right"
              data-aos-duration="800"><img src="/images/rctelecom-logo.png" alt="" height="50"></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end px-3" id="navbarNav">
              <ul class="navbar-nav gap-3">
                <li class="nav-item">
                  <a class="nav-link fs-5" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-5" href="/empresa">Empresa</a>
                </li>
                <li class="dropdown-new">
                  <a class="nav-link fs-5" href="/produtos">Produtos</a>
                  <div class="dropdown-content-new rounded-3">
                    <div class="d-flex flex-column">
                      <a class="dropdown-item-new text-dark" href="/produtos/ision-ip">Ision IP</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/flux-ip">Flux IP</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/flux-slim-cloud">Flux Slim
                        Cloud</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/kx-ns500">KX-NS500</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/kx-hts32">KX-HTS32</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/softphones">Softphones</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/softwares">Softwares</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/gravadores">Gravadores</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/gateways">Gateways</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/terminais-telefonicos">Terminais
                        Telefônicos</a>
                      <a class="dropdown-item-new text-dark" href="/produtos/chipway">Interface Celular</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-5" href="/servicos">Serviços</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-5" href="/contato">Contato</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>