<%- include('../views/partials/header') %>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden text-lg-start text-center g-5 py-lg-5 pb-3">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 pe-lg-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/company.png" class="d-block mx-lg-auto img-fluid" alt="Company Image" height="720">
      </div>
      <div class="col-lg-5 pb-4">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="1000">
          <%= title %>
        </h1>
        <p class="lead" data-aos="slide-right" data-aos-duration="1300">Equipe <span
            class="text-secondary fw-bold">treinada e especializada</span> em aplicar e
          desenvolver soluções completas em <span class="text-secondary fw-bold">telefonia, redes e câmeras</span> ,
          assim como na implantação de softwares de gerenciamento e controle de ligações.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 px-0" data-aos="zoom-out-right" data-aos-duration="1200">
        <img src="/images/company-1.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Cloud System" height="720">
      </div>
      <div class="col-lg-5">
        <h3 class="display-4 fw-bold lh-1 mb-3" data-aos="fade-up" data-aos-duration="1000">Localizada em Rio Claro
        </h3>
        <p class="lead" data-aos="fade-up" data-aos-duration="1400"> interior de São Paulo, a
          <span class="text-secondary fw-bold">RCTelecom</span> é uma empresa que trabalha com o
          conceito de <span class="text-secondary fw-bold">excelência</span> em serviços para <span
            class="text-secondary fw-bold">PABX</span> e diversos outros segmentos do setor de Telecomunicações.
        </p>
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 px-0" data-aos="zoom-out-left" data-aos-duration="1200">
        <img src="/images/company-2.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Cloud System" height="720">
      </div>
      <div class="col-lg-5">
        <h3 class="display-4 fw-bold lh-1 mb-3" data-aos="fade-up" data-aos-duration="1000">Atuando desde 1991
        </h3>
        <p class="lead" data-aos="fade-up" data-aos-duration="1400"> conta com uma equipe treinada
          e especializada em aplicar e desenvolver <span class="text-secondary fw-bold">soluções completas em
            telefonia</span> e implantação de softwares.
        </p>
      </div>
    </div>
    <div class="row flex-lg align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 px-0" data-aos="zoom-out-up" data-aos-duration="1200">
        <img src="/images/company-3.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Cloud System" height="720">
      </div>
      <div class="col-lg-5">
        <h3 class="display-4 fw-bold lh-1 mb-3" data-aos="fade-up" data-aos-duration="1000">Utilizando o know-how
        </h3>
        <p class="lead" data-aos="fade-up" data-aos-duration="1400"> adquirido ao longo de sua
          atuação no mercado, a RCTelecom está segura em oferecer, através de seu portfólio, <span
            class="text-secondary fw-bold">soluções que agregam valores ao seu negócio</span>.
        </p>
      </div>
    </div>

    <!-- <div class="row flex-lg overflow-hidden align-items-center g-5 py-5">
      <div class="col-lg-7">
        <h1 class="display-4 fw-bold lh-1 mb-4" data-aos="fade-right" data-aos-duration="1000">Localizada em <br> Rio
          Claro,</h1>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400"> interior de São Paulo, a
          <span class="text-primary fw-bold">RCTelecom</span> é uma empresa que trabalha com o
          conceito de <span class="text-primary fw-bold">excelência</span> em serviços para <span
            class="text-primary fw-bold">PABX</span> e diversos outros segmentos do setor de Telecomunicações.
        </p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg" data-aos="fade-up" data-aos-duration="1000">
        <img class="rounded-3"
          src="https://images.unsplash.com/photo-1573164713988-8665fc963095?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          alt="" width="720">
      </div>
    </div>

    <div class="row flex-lg overflow-hidden align-items-center g-5 py-5">
      <div class="col-lg-4 offset-lg-1 overflow-hidden shadow-sm ms-4 p-0" data-aos="fade-up" data-aos-duration="1000">
        <img class="rounded-3"
          src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
          alt="" width="720">
      </div>
      <div class="col-lg-7 flex-grow-1">
        <h1 class="display-4 fw-bold lh-1 mb-4" data-aos="fade-left" data-aos-duration="600">Atuando <br> desde 1991,
        </h1>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400"> conta com uma equipe treinada
          e especializada em aplicar e desenvolver <span class="text-primary fw-bold">soluções completas em
            telefonia</span> e implantação de softwares.
        </p>
      </div>
    </div>

    <div class="row flex-lg overflow-hidden align-items-center g-5 py-5">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 mb-4" data-aos="fade-right" data-aos-duration="600">Utilizando o know-how</h1>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400"> adquirido ao longo de sua
          atuação no mercado, a RCTelecom está segura em oferecer, através de seu portfólio, <span
            class="text-primary fw-bold">soluções que agregam valores ao seu negócio</span>.
        </p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 shadow-lg" data-aos="fade-up" data-aos-duration="1000">
        <img class="rounded-3"
          src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          alt="" width="720">
      </div>
    </div> -->

  </section>
  </section>

  <%- include('../views/partials/footer') %>