<%- include('../views/partials/header') %>

  <div class="container overflow-hidden">
    <div>
      <img src="/images/error.png" class="d-block mx-lg-auto img-fluid" alt="Not Found Image">
    </div>
  </div>
  </section>

  <%- include('../views/partials/footer') %>