<%- include('../views/partials/header') %>

  <section class="container col-xxl-8 px-4 py-lg-3" id="heading">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden text-lg-start text-center g-5 py-lg-5 pb-3">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/landing-image.png" class="d-block mx-lg-auto img-fluid" alt="Landing Image">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="1000">Soluções completas em
          <div class="t-outer">
            <div class="t-inner">
              <p class="mb-0">Telefonia</p>
              <p class="text-mint mb-0">Redes</p>
              <p class="text-bluejeans mb-0">Câmeras</p>
              <p class="mb-0">Telefonia</p>
            </div>
          </div>
        </h1>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Quickly design and customize responsive
          mobile-first sites with Bootstrap, the world’s most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-lg-2 gap-3 d-md-flex justify-content-md-start" data-aos="zoom-out-right"
          data-aos-duration="1200" data-aos-anchor="#heading">
          <a href="/empresa" class="btn btn-primary px-4">Saiba mais<span></span></a>
          <a href="/contato" class="btn btn-outline-success px-4">Solicite um orçamento</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 px-0" data-aos="zoom-out" data-aos-duration="1200">
        <img src="/images/simplifique.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Simplifique"
          height="720">
      </div>
      <div class="col-lg-5">
        <h2 class="display-3 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000"><span
            class="text-primary fw-normal">Simplifique</span> sua comunicação
        </h2>
        <p class="lead" data-aos="fade-left" data-aos-duration="1300">Soluções inovadoras e customizadas, objetivando
          a otimização das operações do negócio afim e do retorno do investimento aplicado.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="/produtos" class="btn btn-outline-primary px-4">Nossas soluções</a>
        </div>
      </div>
    </div>

    <div class="text-center border-bottom py-5 px-lg-4">
      <h2 class="display-3 fw-bold" data-aos="fade-up" data-aos-duration="1000"><span
          class="text-primary fw-normal">Gerencie</span> suas ligações</h2>
      <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-duration="1200">
        <p class="lead mb-4">Temos à diposição uma linha completa de softwares capazes de <span
            class="text-secondary fw-bold">controlar seus custos</span>,
          <span class="text-secondary fw-bold">analisar e redirecionar o fluxo de ligações</span> na sua empresa,
          <span class="text-secondary fw-bold">registrar e gravar suas ligações</span> da forma mais
          conveniente.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-5">
          <a href="/produtos/#softwares" class="btn btn-outline-primary px-4">Softwares</a>
        </div>
      </div>
      <div class="container col-xxl-8 col-lg-10 px-lg-5" data-aos="zoom-out" data-aos-duration="1200">
        <div id="carousel-softwares" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <img src="/images/contaction-1.png" class="d-block w-100 mx-auto" alt="Contaction">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/images/contact-board-1.png" class="d-block w-100 mx-auto" alt="Contact Board">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/images/guest-center-1.png" class="d-block w-100 mx-auto" alt="Guest Center">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/images/avali-e-1.png" class="d-block w-100 mx-auto" alt="Avali-e">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/images/sentinela-2.png" class="d-block w-100 mx-auto" alt="Sentinela">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-softwares" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-softwares" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-0" data-aos="zoom-out-right" data-aos-duration="1200">
        <img src="/images/conecte.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Conecte" height="720">
      </div>
      <div class="col-lg-6">
        <h2 class="display-3 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="1000"><span
            class="text-primary fw-normal">Conecte</span> sua empresa à telefonia IP
        </h2>
        <p class="lead" data-aos="fade-right" data-aos-duration="1300">Desenvolvemos projetos de <span
            class="text-secondary fw-bold">interligação entre
            matriz e filiais</span>, dessa forma, as ligações entre essas duas localidades têm <span
            class="text-secondary fw-bold">custo zero</span>, reduzindo drasticamente os
          gastos em telefonia em geral.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="/produtos/#pabx" class="btn btn-outline-primary px-4 mb-1">Todos produtos</a>
        </div>
      </div>
    </div>

    <!-- <div class="row text-center mx-auto">
      <h3 class="display-5 fw-bormal lh-1 mb-3" data-aos="flip-right" data-aos-duration="1000">Nossas marcas</h3>
      <hr>
      <div class="row row-cols-lg-5 row-cols-md-3 justify-content-between align-items-center">
        <img src="/images/leucotron-logo.png" class="d-block px-lg-4 px-5" alt="" style="filter: grayscale(100%);">
        <img src="/images/intelbras-logo.png" class="d-block px-lg-4 px-5" alt="" style="filter: grayscale(100%);">
        <img src="/images/panasonic-logo.png" class="d-block px-lg-4 px-5" alt="" style="filter: grayscale(100%);">
        <img src="/images/nec-logo.png" class="d-block px-lg-4 px-5" alt="" style="filter: grayscale(100%);">
        <img src="/images/plantronics-logo.png" class="d-block px-lg-4 px-5" alt="" style="filter: grayscale(100%);">
      </div>
    </div> -->

    <div class="container overflow-hidden px-4 py-lg-3 mb-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 text-center g-4">
        <div class="col" data-aos="fade-up" data-aos-duration="1000">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/ision-ip.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">PABX Ision IP</h3>
              <p class="lead">Ision IP é uma plataforma de comunicação PABX
                amplamente flexível, e possui o que há de mais
                moderno em integração das tecnologias analógica,
                digital e IP.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos/#ision-ip" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="1300">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/flux-ip.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">Flux IP</h3>
              <p class="lead">Flux IP é uma moderna plataforma de
                comunicação desenvolvida pela Leucotron para
                atender a realidade da sua empresa.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos/#flux-ip" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="1600">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/flux-slim.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">Flux Slim Cloud</h3>
              <p class="lead">Flux Slim Cloud é um serviço de telefonia em
                nuvem que dispensa qualquer hardware quando
                configurado com ramais e troncos IP.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="1000">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/call-center.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">Call Center</h3>
              <p class="lead">Controle e agilidade no atendimento aos seus clientes. Oferecer inteligência de
                gerenciamento
                para as chamadas recebidas e realizadas é o papel
                do Call Center</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="1300">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/chipway.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">ChipWay</h3>
              <p class="lead">Essa é a interface celular que veio para atender às expectativas na comunicação entre
                telefonia fixa e móvel.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="1600">
          <div class="card shadow-sm content-card h-100">
            <div class="overflow-hidden image-container">
              <img src="/images/contaction.png" alt="ision-image">
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <h3 class="mb-4">Contaction</h3>
              <p class="lead">Contaction é um terminal virtual para telefonistas e usuários que utilizam a plataforma
                Ision IP.</p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a href="/produtos" class="btn btn-outline-primary">Saiba mais</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>

  <%- include('../views/partials/footer') %>