<%- include('../views/partials/header') %>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden text-lg-start text-center g-5 py-lg-5 pb-3">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 pe-lg-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/products.png" class="d-block mx-lg-auto img-fluid" alt="Company Image" height="720">
      </div>
      <div class="col-lg-5 pb-4">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="1000">
          <%= title %>
        </h1>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Tenha o <span
            class="text-secondary fw-bold">controle de suas ligações</span> ao escolher a solução que melhor se adapta
          ao seu negócio. Trabalhamos com o que há de melhor em telefonia digital e IP proporcionando melhor <span
            class="text-secondary fw-bold"> desempenho e eficácia</span> em suas ligações. Confira nossas tecnologias.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light shadow rounded-3 px-4 py-lg-4 mb-4" id="pabx">
    <div class="row flex-lg-row flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="fade-right" data-aos-duration="1200">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/ision-ip.png" alt="Ision IP">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Ision IP</h3>
                <p class="">PABX IP capaz de administrar até 600 portas.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/ision-ip" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-right" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/flux-ip.png" alt="Flux IP">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Flux IP</h3>
                <p class="">Um PABX em nuvem flexível e escalável para transformar o seu negócio.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/flux-ip" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-right" data-aos-duration="1200">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/flux-slim.png" alt="Flux Slim Cloud">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Flux Slim Cloud</h3>
                <p class="">PABX em nuvem, ideal para o tamanho da sua empresa.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/flux-slim-cloud" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-right" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/kx-ns500.png" alt="KX-NS500">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">KX-NS500</h3>
                <p class="">Servidor de comunicações empresariais KX-NS500.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/kx-ns500" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-right" data-aos-duration="1200">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/kx-hts32.png" alt="KX-HTS32">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">KX-HTS32</h3>
                <p class="">Central de Comunicação IP/Híbrida KX-HTS32.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/kx-hts32" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000"><span
            class="text-primary">PLATAFORMAS</span> DE COMUNICAÇÃO PABX
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-left" data-aos-duration="1000">Um ecossistema completo de comunicação
        </h4>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200"><span class="text-secondary fw-bold">Ision
            IP</span> é uma plataforma de comunicação PABX amplamente flexível, e possui o que há de mais moderno em
          integração das <span class="text-secondary fw-bold">tecnologias analógica, digital e IP</span>.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200"><span class="text-secondary fw-bold">Flux
            IP</span> é uma <span class="text-secondary fw-bold">moderna plataforma de comunicação</span>
          desenvolvida pela Leucotron para atender a realidade da sua empresa.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200"><span class="text-secondary fw-bold">Flux
            Slim Cloud</span> é um serviço de <span class="text-secondary fw-bold">telefonia em nuvem</span> que
          dispensa qualquer hardware quando configurado com ramais e troncos IP.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200"><span
            class="text-secondary fw-bold">KX-NS500</span> é um <span class="text-secondary fw-bold">servidor de
            comunicação híbrido avançado</span> para empresas de pequeno e médio porte, que fornece soluções para
          problemas de comunicação.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200"><span
            class="text-secondary fw-bold">KX-HTS32</span> é um PABX IP/Híbrido avançado para
          os negócios SOHO. Tem uma capacidade de <span class="text-secondary fw-bold">até 24 ramais</span> para atender
          esta demanda.
        </p>
      </div>
    </div>
  </section>

  <!-- <div class="container px-4 py-lg-5 my-4">
    <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="fade-left" data-aos-duration="1000">PLATAFORMAS DE COMUNICAÇÃO
      PABX
    </h3>
    <h4 class="lh-1 mb-3" data-aos="fade-left" data-aos-duration="1100">Um ecossistema completo de comunicação</h4>
    <hr>
    <div class="row justify-content-center g-5 py-5">
      <div class="col-lg-10">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 text-center g-3">
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/ision-ip.png" alt="Ision IP">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Ision IP</h3>
                <p class="">Ision IP é uma plataforma de comunicação PABX
                  amplamente flexível, e possui o que há de mais
                  moderno em integração das tecnologias analógica,
                  digital e IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/ision-ip" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1300">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/flux-ip.png" alt="Flux IP">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Flux IP</h3>
                <p class="">Flux IP é uma moderna plataforma de
                  comunicação desenvolvida pela Leucotron para
                  atender a realidade da sua empresa.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/flux-ip" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1600">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/flux-slim.png" alt="Flux Slim Cloud">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">Flux Slim Cloud</h3>
                <p class="">Flux Slim Cloud é um serviço de telefonia em
                  nuvem que dispensa qualquer hardware quando
                  configurado com ramais e troncos IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/flux-slim-cloud" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1100">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/kx-ns500.png" alt="KX-NS500">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">KX-NS500</h3>
                <p class="">Servidor de comunicações empresariais KX-NS500.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/kx-ns500" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1100">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/kx-hts32.png" alt="KX-HTS32">
              </div>
              <div class="card-body d-flex flex-column justify-content-between">
                <h3 class="fw-bold mb-1">KX-HTS32</h3>
                <p class="">Central de Comunicação IP/Híbrida KX-HTS32.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/kx-hts32" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <section class="container col-xxl-8 px-4 py-lg-4 mb-4" id="softphones">
    <div class="row flex-lg-row-reverse flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="fade-up" data-aos-duration="1300">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/contact-board-1.png" alt="Contact Board">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Contact Board</h3>
                <p class="">O Contact Board é a solução ideal para colaboradores que utilizam a central PABX Flux
                  IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softphones#contact-board" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1600">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/contaction-1.png" alt="Contaction">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Contaction</h3>
                <p class="">O software Contaction possui recursos interativos para operação telefônica a partir do
                  computador.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softphones#contaction" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/leuco-1.png" alt="Leuco">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Leuco</h3>
                <p class="">Ramal móvel para celular.Permite aos usuários fazer e receber chamadas de voz em
                  qualquer dispositivo Android.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softphones#leuco" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000"><span
            class="text-primary">MOBILIDADE</span> NO ESCRITÓRIO OU HOME OFFICE
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-right" data-aos-duration="1000">Já pensou em ter o seu ramal sempre com
          você?
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O dinamismo dos negócios requer cada vez mais
          disponibilidade.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200"><span class="text-secondary fw-bold">Leuco</span>
          é um aplicativo pensado no usuário, simples e fácil como deve ser.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400"><span class="text-secondary fw-bold">Contact
            Board</span> é um softphone que <span class="text-secondary fw-bold">dispensa o uso de um terminal
            físico</span> e traz uma visualização clara das informações de telefonia.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400"><span
            class="text-secondary fw-bold">Contaction</span> é um terminal virtual para telefonistas e usuários que
          utilizam a plataforma Ision IP.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light shadow rounded-3 px-4 py-lg-4 mb-4" id="softwares">
    <div class="row flex-lg-row flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="fade-up" data-aos-duration="1300">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/call-center.png" alt="Call Center">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Call Center</h3>
                <p class="">Agilidade e controle no atendimento aos seus clientes.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#call-center" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1600">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/phone-report.png" alt="Phone Report">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Phone Report</h3>
                <p class="">Tarifador Telefônico 100% Web.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#phone-report" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/lcdr.png" alt="LCDR">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">LCDR</h3>
                <p class="">Bilhetagem e registro de chamadas internas e externas.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#lcdr" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/avali-e.png" alt="Avali-E">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Avali-E</h3>
                <p class="">Sistema de avaliação de atendimentos.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#avali-e" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/guest-center.png" alt="Guest Center">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Guest Center</h3>
                <p class="">Serviços avançados para integração hoteleira.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#guest-center" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/sentinela.png" alt="Sentinela">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Sentinela</h3>
                <p class="">Redirecionador de ligações para um atendimento personalizado aos seus clientes.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/softwares#sentinela" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 text-primary fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000">SOFTWARES
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-left" data-aos-duration="1000">Ferramentas para reduzir custos operacionais
          e aumentar a produtividade
        </h4>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200">O <span class="text-secondary fw-bold">Call
            Center</span> Leucotron oferece inteligência de <span class="text-secondary fw-bold">gerenciamento para as
            chamadas de entrada</span>.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400"><span class="text-secondary fw-bold">Phone
            Report</span> é um <span class="text-secondary fw-bold">sistema 100% web de tarifação</span>
          telefônica que te permite analisar, de forma precisa, os gastos com ligações telefônicas.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400">O <span
            class="text-secondary fw-bold">Sentinela</span> foi criado para interceptar as chamadas de entrada pelo
          tronco digital ou VoIP.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400"><span
            class="text-secondary fw-bold">Avali-E</span> permite à sua empresa medir a <span
            class="text-secondary fw-bold">qualidade do serviço de atendimento telefônico</span> prestado aos usuários.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400">O <span class="text-secondary fw-bold">Guest
            Center</span> conecta a telefonia do seu hotel ao sistema de gestão (PMS).
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-4 mb-4" id="gravadores">
    <div class="row flex-lg-row-reverse flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="fade-up" data-aos-duration="1300">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gravadores.png" alt="Ultra REC" style="filter: hue-rotate(10deg);">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Ultra REC</h3>
                <p class="">Armazena 11500 horas de gravações para cada 1 TB.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gravadores#ultra-rec" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1600">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gravadores.png" alt="V-REC IP" style="filter: hue-rotate(0deg);">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">V-REC IP</h3>
                <p class="">Hardware dedicado para gravação, compatível com rack 19".
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gravadores#v-rec-ip" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gravadores.png" alt="V-REC Multi" style="filter: hue-rotate(20deg);">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">V-REC Multi</h3>
                <p class="">Funciona ligado à linha telefônica ou em ramais analógicos de PABX.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gravadores#v-rec-multi" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gravadores.png" alt="Gravador Click" style="filter: hue-rotate(40deg);">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Gravador Click</h3>
                <p class="">Com um click no Contaction ou Orbit.go+ o usuário solicita a gravação.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gravadores#gravador-click" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm bg-light content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gravadores.png" alt="Gravador Flex" style="filter: hue-rotate(60deg);">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Gravador Flex</h3>
                <p class="">Grava troncos ou ramais analógicos, digitais ou IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gravadores#gravador-flex" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000"><span
            class="text-primary">GRAVADORES</span> TELEFÔNICOS
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-right" data-aos-duration="1000">Descomplique a forma como suas ligações são
          armazenadas
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Instalar gravadores telefônicos na empresa
          traz benefícios consideráveis para a gestão, atendentes e para os clientes.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400">Os modelos da Leucotron são ideais para
          empresas que buscam <span class="text-secondary fw-bold">armazenar suas ligações com maior segurança</span>.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light shadow rounded-3 px-4 py-lg-4 mb-4" id="gateways">
    <div class="row flex-lg-row flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="slide-right" data-aos-duration="1200">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/converte.png" alt="Converte">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Converte</h3>
                <p class="">Gateway E1 - SIP com excelente custo-benefício e de simples instalação e configuração.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gateways#converte" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="slide-right" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/tokgate.png" alt="Tokgate">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Tokgate</h3>
                <p class="">Gateway FXO capaz de conectar linhas telefônicas analógicas ao sistema de telefonia IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gateways#tokgate" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="slide-right" data-aos-duration="1200">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gateways.png" alt="Tokgate S8/S16">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Tokgate S8/S16</h3>
                <p class="">Gateways FXS ideais para usufruir dos benefícios de um moderno sistema de telefonia IP.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gateways#tokgate-s8-s16" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="slide-right" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/gl-3000.png" alt="GL 3000">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">GL 3000</h3>
                <p class="">Gateway de alta densidade desenvolvido para aplicações onde é exigida uma grande quantidade
                  de telefones ou troncos, analógicos ou digitais.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/gateways#gl-3000" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 text-primary fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000">GATEWAYS
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-left" data-aos-duration="1000">Sua empresa preparada para o mundo IP
        </h4>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200">Os gateways da Leucotron <span
            class="text-secondary fw-bold">fazem a conversão de
            troncos e ramais, analógicos e digitais, para o mundo IP</span>.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400"> Desta forma não é necessário trocar os seus
          aparelhos telefônicos atuais nem abrir mão de suas linhas telefônicas existentes.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-4 mb-4" id="terminais-telefonicos">
    <div class="row flex-lg-row-reverse flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center g-3">
          <div class="col" data-aos="slide-left" data-aos-duration="1000">
            <div class="card bg-light shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/grandstream.png" alt="Leucotron Grandstream">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Leucotron by Grandstream</h3>
                <p class="">Terminais telefônicos Leucotron by Grandstream.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/terminais-telefonicos#gxp2170" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="slide-left" data-aos-duration="1100">
            <div class="card bg-light shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/orbit.png" alt="Terminais Telefônicos Orbit">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Terminais Orbit</h3>
                <p class="">Design e desempenho no mesmo espaço.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/terminais-telefonicos#orbit-fit" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" data-aos="slide-left" data-aos-duration="1200">
            <div class="card bg-light shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/shift.png" alt="Shift">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Shift</h3>
                <p class="">Básico sem deixar de ser moderno.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/terminais-telefonicos#shift" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000">TERMINAIS
          TELEFÔNICOS
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-right" data-aos-duration="1000">Facilidades incríveis no seu telefone
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">A família de terminais Leucotron by Grandstream
          possui recursos que irão te auxiliar no dia a dia, desde <span class="text-secondary fw-bold">funções como
            identificação de chamadas e visualização
            de discagem, até programação de teclas de acesso rápido</span>.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1400">A família de terminais <span
            class="text-secondary fw-bold">Orbit</span> está em constante
          evolução para sempre atender às suas necessidades.
        </p>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light shadow px-4 py-lg-4 mb-4" id="interface-celular">
    <div class="row flex-lg-row flex-column-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 ps-lg-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 justify-content-center text-center g-3">
          <div class="col" data-aos="fade-up" data-aos-duration="1000">
            <div class="card shadow-sm content-card h-100">
              <div class="image-container overflow-hidden">
                <img src="/images/chipway.png" alt="ChipWay">
              </div>
              <div class="card-body d-flex flex-column justify-content-between border-top">
                <h3 class="fw-bold mb-1">Interface Celular ChipWay</h3>
                <p class="">Gateway GSM projetado para garantir confiabilidade e economia nas chamadas móveis.
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="btn-group">
                    <a href="/produtos/chipway" class="btn btn-outline-primary">Saiba mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000">INTERFACE CELULAR <span
            class="text-primary">CHIPWAY</span>
        </h3>
        <h4 class="lh-1 mb-3" data-aos="fade-right" data-aos-duration="1000">Economia com telefonia móvel
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200"><span
            class="text-secondary fw-bold">ChipWay</span> é uma interface celular projetada para
          garantir confiabilidade e <span class="text-secondary fw-bold">economia nas chamadas móveis</span>.
        </p>
      </div>
    </div>
  </section>
  </section>

  <%- include('../views/partials/footer') %>