<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1">
        <img src="/images/gateways-1.png" class="d-block mx-lg-auto img-fluid" alt="Gateways" data-aos="fade-left"
          data-aos-duration="1200" height="500" style="border-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Gateways
          <span class="text-info">Leucotron</span>
        </h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Os gateways da Leucotron fazem a
          <span class="text-secondary fw-bold">conversão de troncos e ramais</span>, analógicos e digitais, para
          o mundo IP.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Desta forma não é necessário trocar os
          seus aparelhos telefônicos atuais nem abrir mão de suas linhas telefônicas existentes.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Com eles você <span
            class="text-secondary fw-bold">economiza recursos</span> e tem a certeza de estar utilizando o que há de
          <span class="text-secondary fw-bold">mais moderno no mercado</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <div class="dropdown">
            <a class="btn btn-outline-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">Modelos
            </a>
            <ul class="dropdown-menu shadow w-100" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#converte">Converte</a></li>
              <li><a class="dropdown-item" href="#tokgate">Tokgate</a></li>
              <li><a class="dropdown-item" href="#tokgate-s8-s16">Tokgate S8/S16</a></li>
              <li><a class="dropdown-item" href="#gl-3000">GL 3000</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="container col-xxl-8 bg-light rounded shadow px-4 py-lg-3 mb-4" id="converte">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-4 px-lg-0">
        <img src="/images/converte-2.png" class="d-block mx-lg-auto img-fluid" alt="Converte" data-aos="zoom-out-left"
          data-aos-duration="1200" style="border-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="900">Converte</h2>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1000">Converte é um gateway E1 - SIP da
          Leucotron com <span class="text-secondary fw-bold">excelente custo-benefício</span>
          e de simples instalação e configuração.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Permite a conexão do seu PABX com
          operadoras que utilizam tecnologia TDM (R2 Digital ou ISDN), VoIP ou SIP Trunk.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Com ele você utiliza o melhor da
          tecnologia <span class="text-secondary fw-bold">aproveitando o investimento</span> já realizado em
          seus recursos de telefonia.
        </p>
      </div>
    </div>

    <div class="row flex-lg align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-5 flex-grow-1 px-4">
        <img src="/images/converte-1.png" class="d-block mx-lg-auto img-fluid" alt="Converte" data-aos="zoom-out"
          data-aos-duration="1200" style="border-radius: 15%">
      </div>
      <div class="col-lg-7">
        <h3 class="display-5 fw-bold lh-1" data-aos="flip-right" data-aos-duration="900">Funcionalidades</h3>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 py-5">
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Conexão via E1 / SIP com a operadora</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Conexão via SIP / E1 com o PABX</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Codec G.711</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Cancelamento de eco</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Diagnóstico do link E1</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Envio de DTMF in-band</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Sinalização R2 Digital e ISDN</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Configuração via interface web</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Sinalização de status do E1</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Geração de logs para diagnóstico</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Porta de rede Gigabit</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Feedback de link sem sinal</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-up" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint feature-icon fs-3"></i>
            <p class="lead">Possibilidade de usar bastidores para rack 19”</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white mb-4" id="tokgate">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-4 px-lg-0">
          <img src="/images/tokgate-1.png" class="d-block mx-lg-auto img-fluid" alt="Tokgate o2"
            data-aos="zoom-out-left" data-aos-duration="1200" style="border-radius: 15%">
        </div>
        <div class="col-lg-6">
          <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="900"><span
              class="text-secondary fw-bold">Tok</span>gate o2</h2>
          <hr>
          <p class="lead" data-aos="fade-right" data-aos-duration="900">O <span class="text-secondary fw-bold">Tokgate
              o2</span> é um dispositivo capaz de conectar suas linhas telefônicas analógicas (FXO) ao seu sistema de
            telefonia IP.
          </p>
          <p class="lead" data-aos="fade-right" data-aos-duration="1100">Possui capacidade para até <span
              class="text-secondary fw-bold">duas linhas telefônicas simultâneas</span> , permitindo a realização ou
            recebimento de até duas chamadas por vez.
          </p>
          <p class="lead" data-aos="fade-right" data-aos-duration="1200">Permite migração automática entre dois
            servidores quando utilizado em projetos com redundância.
          </p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <h3 class="display-5 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">Recursos</h3>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 py-5">
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1100">
          <i class="fas fa-desktop flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Web</h4>
            <p class="">Programação através de interface web.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1200">
          <i class="fas fa-mobile-alt flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Bina</h4>
            <p class="">Identificação de chamadas.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1300">
          <i class="fas fa-sync-alt flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Redundância</h4>
            <p class="">Compatível com ambiente de redundância.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
          <i class="fas fa-server flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Rack</h4>
            <p class="">Possibilidade de usar bastidores para rack 19”. Cada bastidor comporta até 12 gateways.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4" id="tokgate-s8-s16">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-4 px-lg-0">
        <img src="/images/tokgate-s8-s16.png" class="d-block mx-lg-auto img-fluid" alt="Tokgate S8 S16"
          data-aos="zoom-out-left" data-aos-duration="1200" style="border-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="900"><span
            class="text-secondary fw-bold">Tok</span>gate S8/S16 </h2>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="900">Os gateways <span
            class="text-secondary fw-bold">Tokgate S8 e Tokgate S16</span> são ideais para empresas que desejam
          aproveitar o legado de telefones analógicos e usufruir dos benefícios de um moderno sistema de telefonia IP.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Conta com recurso de <span
            class="text-secondary fw-bold">sobrevivência</span>, um mecanismo de emergência que permite aos
          ramais analógicos se comunicarem entre si até que o sistema se restabeleça.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Disponível nos modelos com 8 ou 16 portas FXS.
        </p>
      </div>
    </div>

    <h3 class="display-5 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">Recursos</h3>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 py-5">
      <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1100">
        <i class="fas fa-desktop flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
        <div>
          <h4 class="fw-bold mb-0">Web</h4>
          <p class="">Programação através de interface web.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1300">
        <i class="fas fa-sync-alt flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
        <div>
          <h4 class="fw-bold mb-0">Redundância</h4>
          <p class="">Compatível com ambiente de redundância.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
        <i class="fas fa-server flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
        <div>
          <h4 class="fw-bold mb-0">Rack</h4>
          <p class="">Possibilidade de usar bastidores para rack 19”. Cada bastidor comporta até 12 gateways.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white mb-4" id="gl-3000">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-4 px-lg-0">
          <img src="/images/gl-3000-1.png" class="d-block mx-lg-auto img-fluid" alt="GL 3000" data-aos="zoom-out-left"
            data-aos-duration="1200" style="border-radius: 15%">
        </div>
        <div class="col-lg-6">
          <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">GL <span
              class="text-info fw-bold">3000</span></h2>
          <hr>
          <p class="lead" data-aos="fade-right" data-aos-duration="900">O GL 3000 é um gateway de <span
              class="text-secondary fw-bold">alta densidade</span> que permite grande flexibilidade de conversão em um
            único equipamento.
          </p>
          <p class="lead" data-aos="fade-right" data-aos-duration="1100">Foi desenvolvimento especialmente para
            aplicações onde é exigida uma <span class="text-secondary fw-bold">grande quantidade de telefones ou
              troncos,
              analógicos ou digitais</span>, em uma mesma localidade.
          </p>
          <p class="lead" data-aos="fade-right" data-aos-duration="1200">Com esse equipamento é possível <span
              class="text-secondary fw-bold">usufruir de todos os benefícios da telefonia IP</span> , mantendo:
            cabeamento
            e telefones já existes, linhas analógicas ou digitais.
          </p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <h3 class="display-5 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">Recursos</h3>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 py-5">
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1100">
          <i class="fas fa-tools flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Fácil instalação</h4>
            <p class="">Processo simples de instalação, manutenção e suporte através do próprio configurador web <a
                href="flux-ip" class="link-primary text-decoration-none">Flux IP</a>.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1300">
          <i class="fas fa-hdd flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Robustez</h4>
            <p class="">Pode substituir diversos gateways por um único equipamento.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
          <i class="fas fa-ethernet flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Interfaces</h4>
            <p class="">Possui interfaces E1, FXO e FXS.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
          <i class="far fa-thumbs-up flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Qualidade</h4>
            <p class="">Os telefones analógicos podem ser instalados a grandes distâncias, sem
              perda da qualidade da chamada.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
          <i class="fas fa-globe flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Orbit.go+</h4>
            <p class="">Compatível com telefone digital <a href="terminais-telefonicos#orbit-go"
                class="link-primary text-decoration-none">Orbit.go+</a> da Leucotron.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="flip-up" data-aos-duration="1400">
          <i class="fas fa-shield-alt flex-shrink-0 text-muted fs-3 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Segurança</h4>
            <p class="">Garante maior segurança em projetos pois proporciona sobrevivência local
              para as unidades.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>