<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/kx-ns500-1.png" class="d-block mx-lg-auto img-fluid" alt="KX-NS500" width="460"
          style="border-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Panasonic <br>
          KX-
          <span class="text-bluejeans">NS500</span>
        </h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O <span
            class="text-secondary fw-bold">KX-NS500</span> é um servidor de comunicação híbrido
          avançado <span class="text-secondary fw-bold">para empresas de pequeno e médio porte</span>, que fornece
          soluções para problemas de comunicação.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="#recursos-kx-ns500" class="btn btn-outline-primary btn-lg px-4 me-md-2">Recursos<span></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4">
    <div class="row flex-lg align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-lg-0" data-aos="zoom-out-right" data-aos-duration="1200">
        <img src="/images/kx-ns500-2.png" class="d-block mx-lg-auto img-fluid" alt="KX-NS500"
          style="border-top-left-radius: 15%;border-bottom-left-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h2 class="display-3 fw-bold lh-1 mb-3" data-aos="fade-left" data-aos-duration="800">Sistema híbrido
         <span class="text-bluejeans">inteligente</span> 
        </h2>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1100">O <span
            class="text-secondary fw-bold">KX-NS500</span> permite configurações de sistema
          flexíveis que <span class="text-secondary fw-bold">combinam livremente IP e sistemas legados</span> para
          responder às suas necessidades de forma rentável.
          Ele suporta 6 troncos análogos e 18 ramais, e até 288 ramais com a Unidade de Expansão KX-NS520.
        </p>
        <h3 class="lh-1 mt-5" data-aos="fade-left" data-aos-duration="1000">Utilização dos recursos existentes</h3>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1100">Telefones Proprietários Analógicos (APTs),
          Telefones Proprietários Digitais (DPTs) e Telefones analógicos (SLTs) e Troncos já existentes podem continuar
          sendo utilizados, permitindo que um sistema seja substituído com um com um custo baixo sem perder recursos.
        </p>
        <h3 class="lh-1 mt-5" data-aos="fade-left" data-aos-duration="1000">Ramal remoto inteligente</h3>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1100">O KX-NS500 oferece fácil instalação remota de
          ramais pela internet. Além de telefones IP, <span class="text-secondary fw-bold">sofphones e smartphones
            também podem ser usados como ramais</span>.
        </p>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 p-lg-4 px-4 mb-4" id="recursos-kx-ns500">
    <h3 class="display-5 fw-bold pb-2 mt-4" data-aos="slide-right" data-aos-duration="900">Recursos</h3>
    <hr>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 overflow-hidden g-2 py-5 px-lg-5">
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Atendimento Automático</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Correio de Voz - Integrado</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Bloq. chamadas</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Proteção de Dados</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Ramais analógicos, digitais, IP e wireless</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Troncos digitais e IP</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">DISA</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Agenda Individual</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Intercalação</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Música de Espera Externa</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Rota de Menor Custo</p>
      </div>
      <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
        <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
        <p class="lead">Grupos chamadas</p>
      </div>
    </div>
  </div>
  </section>

  <%- include('../views/partials/footer') %>