<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/gravadores-1.png" class="d-block mx-lg-auto img-fluid " alt="Gravadores"
          style="border-top-right-radius: 15%;border-bottom-right-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="fade-right" data-aos-duration="800">Gravadores
          telefônicos <span class="text-info">Leucotron</span>
        </h1>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Instalar gravadores telefônicos na
          empresa traz benefícios consideráveis para a gestão, atendentes e para os clientes.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Os modelos da Leucotron são ideais
          para empresas que buscam <span class="text-secondary fw-bold">armazenar suas ligações com maior
            segurança</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <div class="dropdown">
            <a class="btn btn-outline-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">Soluções
            </a>
            <ul class="dropdown-menu shadow w-100" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#ultra-rec">Ultra REC</a></li>
              <li><a class="dropdown-item" href="#v-rec-ip">V-REC IP</a></li>
              <li><a class="dropdown-item" href="#v-rec-multi">V-REC Multi</a></li>
              <li><a class="dropdown-item" href="#gravador-click">Gravador Click</a></li>
              <li><a class="dropdown-item" href="#gravador-flex">Gravador Flex</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4 mt-5">
      <h3 class="display-5 fw-normal mt-4" data-aos="slide-right" data-aos-duration="1000">Benefícios</h3>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 py-5">
        <div class="col d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
          <i class="far fa-handshake flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Relacionamento</h4>
            <p class="">Gerenciar o relacionamento com clientes e fornecedores.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1300">
          <i class="fas fa-award flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Avaliação</h4>
            <p class="">Avaliar a qualidade do atendimento.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1500">
          <i class="fas fa-balance-scale flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Proteção</h4>
            <p class="">Resguardar a empresa em situações legais.</p>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  </section>

  <section class="bg-white shadow-lg overflow-hidden mb-4" id="ultra-rec">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
          style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
          data-aos-duration="1200">
          <img class="img-content" src="/images/ultra-rec.png" alt="Ultra Rec" width="510">
        </div>
        <div class="col-lg-7">
          <h3 class="display-4 fw-bold mt-4" data-aos="flip-right" data-aos-duration="1000">Ultra <span
              class="text-danger">REC</span>
          </h3>
          <hr>
          <div class="my-3 py-4">
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-wrench flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Pode ser instalado de forma local (servidor físico ou virtualizado) ou na nuvem.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-microphone-alt flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Grava trocos IP diretamente. Troncos digitais, analógicos e GSM através de
                conversores externos.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-code flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Possui protocolo para rastreabilidade das chamadas e API para integração com
                soluções de terceiros.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-stopwatch flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Armazena 11.500 horas para cada 1 TB.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white shadow-lg overflow-hidden mb-4" id="v-rec-ip">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
          style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
          data-aos-duration="1200">
          <img class="img-content" src="/images/v-rec-ip.png" alt="V-Rec IP" width="510">
        </div>
        <div class="col-lg-7">
          <h3 class="display-4 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">V-<span
              class="text-danger">REC</span> IP
          </h3>
          <hr>
          <div class="my-3 py-4">
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-cloud-download-alt flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Recursos inteligentes de busca, backup, monitoria online e player web.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-microphone-alt flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Grava por espelhamento de porta. Grava ramais e troncos IP.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-stopwatch flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Armazena até 155.000 horas.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-download flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Hardware dedicado para gravação, compatível com Rack 19”.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-map-pin flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Licenciamento por canal simultâneo de gravação, limitado à 30 canais.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-code flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Pode ser integrado ao <a href="softwares#phone-report"
                  class="link-primary text-decoration-none">Phone Report</a> para ter rastreabilidade de chamada e ao
                <a href="softphones#contaction" class="link-primary text-decoration-none">Contaction</a> ou software
                Atendente do <a href="softwares#call-center" class="link-primary text-decoration-none">Call Center</a>
                para obter o protocolo da ligação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white shadow-lg overflow-hidden mb-4" id="v-rec-multi">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
          style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
          data-aos-duration="1200">
          <img class="img-content" src="/images/v-rec-multi.png" alt="VRec Multi" width="510">
        </div>
        <div class="col-lg-7">
          <h3 class="display-4 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">V-REC <span
              class="text-info">Multi</span>
          </h3>
          <hr>
          <div class="my-3 py-4">
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-phone flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Funciona ligado à linha telefônica ou em ramais analógicos de PABX.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-code flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Pode ser integrado ao <a href="softwares#phone-report"
                  class="link-primary text-decoration-none">Phone Report</a> para ter rastreabilidade de chamada e ao
                <a href="softphones#contaction" class="link-primary text-decoration-none">Contaction</a> ou software
                Atendente do <a href="softwares#call-center" class="link-primary text-decoration-none">Call Center</a>
                para obter o protocolo da ligação.
              </p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-cloud-download-alt flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Recursos inteligentes de busca, backup, monitoria online e player web.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fab fa-windows flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Software compatível com Windows 7, 8 e 10.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-layer-group flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Disponível em módulos de 1 a 8 portas e empilháveis até a capacidade de 256 portas
                de gravação em um mesmo computador.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white shadow-lg overflow-hidden mb-4" id="gravador-click">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
          style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
          data-aos-duration="1200">
          <img class="img-content" src="/images/gravador-click.png" alt="Gravador Click" width="510">
        </div>
        <div class="col-lg-7">
          <h3 class="display-4 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">Gravador <span
              class="text-secondary">Click</span>
          </h3>
          <hr>
          <div class="my-3 py-4">
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-server flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Recurso de série para <a href="ision-ip" class="link-primary text-decoration-none">Ision
                  IP</a>.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-hand-point-up flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Com um clique no <a href="softphones#contaction"
                  class="link-primary text-decoration-none">Contaction</a> ou <a href="terminais-telefonicos#orbit-go"
                  class="link-primary text-decoration-none">Orbit.go+</a> o usuário solicita a gravação.
              </p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-list-ol flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Grava até 8 chamadas simultâneas.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-envelope flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Acesso às gravações por e-mail ou interface web.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white shadow-lg overflow-hidden mb-4" id="gravador-flex">
    <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
      <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
          style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
          data-aos-duration="1200">
          <img class="img-content" src="/images/gravador-flex.png" alt="Gravador Flex" width="510">
        </div>
        <div class="col-lg-7">
          <h3 class="display-4 fw-bold mt-4" data-aos="slide-right" data-aos-duration="1000">Gravador <span
              class="text-primary">Flex</span>
          </h3>
          <hr>
          <div class="my-3 py-4">
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-stopwatch flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Armazena 3.300 horas para cada 100 GB.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-list-ol flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Grava até 8 chamadas simultâneas (internas ou externas)</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-headset flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Número do protocolo integrado ao <a href="softwares#call-center"
                  class="link-primary text-decoration-none">Call Center</a>.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-hdd flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Grava troncos ou ramais analógicos, digitais ou IP.</p>
            </div>
            <div class="d-flex align-items-start mb-2" data-aos="flip-up" data-aos-duration="1100">
              <i class="fas fa-laptop flex-shrink-0 text-muted fs-4 me-1 mt-1 feature-icon"></i>
              <p class="lead">Acesso às gravações via interface web.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>