<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1">
        <img src="/images/softphones.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Gateways"
          data-aos="fade-left" data-aos-duration="1200" height="500">
      </div>
      <div class="col-lg-6">
        <h4 class="lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Mobilidade no escritório ou home office
        </h4>
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Softwares</h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">As melhores soluções em comunicação para <span
            class="text-secondary fw-bold">redução de custos e aumento da produtividade</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <div class="dropdown">
            <a class="btn btn-outline-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-bs-toggle="dropdown" aria-expanded="false">Soluções
            </a>
            <ul class="dropdown-menu shadow w-100" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#call-center">Call Center</a></li>
              <li><a class="dropdown-item" href="#phone-report">Phone Report</a></li>
              <li><a class="dropdown-item" href="#sentinela">Sentinela</a></li>
              <li><a class="dropdown-item" href="#avali-e">Avali-E</a></li>
              <li><a class="dropdown-item" href="#guest-center">Guest Center</a></li>
              <li><a class="dropdown-item" href="#lcdr">LCDR</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3" id="call-center">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/call-center-1.png" alt="Call Center" width="540">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">Call <span
            class="text-mint">Center</span></h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Agilidade e controle no atendimento aos
          seus clientes
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O <span class="text-secondary fw-bold">Call
            Center Leucotron</span> oferece inteligência de gerenciamento para as chamadas de entrada.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Capaz de gerenciar atendentes em call centers
          de pequeno e médio porte, o Call Center Leucotron <span class="text-secondary fw-bold">dispõe de recursos de
            supervisão, monitoramento e retirada de relatórios</span> para os supervisores do ambiente de atendimento.
        </p>
        <div class="my-3 py-4">
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint fs-3" style="width: 35px;"></i>
            <p class="lead">Agilidade no atendimento.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint fs-3" style="width: 35px;"></i>
            <p class="lead">Controle total das ligações recebidas e realizadas.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint fs-3" style="width: 35px;"></i>
            <p class="lead">Supervisão e controle online das ligações, atendentes e sistema.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint fs-3" style="width: 35px;"></i>
            <p class="lead">Economia (mais ligações em menos tempo)
              .
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-mint fs-3" style="width: 35px;"></i>
            <p class="lead">Auxílio no dimensionamento da quantidade de atendentes, por setor, dia e hora, conforme
              demanda.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 overflow-hidden g-4 px-lg-3 mb-4">
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
          <i class="bi bi-telephone-forward-fill fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Controle de PAS IP</h3>
          <p class="lead">Descentralização e mobilidade são as grandes vantagens na utilização de Pontos de Atendimento
            IP no Call Center Leucotron. Ele é capaz de gerenciar Pontos de Atendimento remotos, permitindo a utilização
            de uma topologia de atendimento descentralizada, oferecendo mobilidade aos atendentes e controle total aos
            supervisores do Call Center.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
          <i class="fas fa-network-wired fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Controle em tempo real</h3>
          <p class="lead">O Módulo Supervisor permite ao gestor do Call Center visualizar as estatísticas de atendimento
            e tomar ações de controle em tempo real, tornando a tomada de ações mais ágil e permitindo controle total ao
            supervisor da equipe de atendimento.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
        <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
          <i class="bi bi-telephone-outbound-fill fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Relatórios completos</h3>
          <p class="lead">Os relatórios do Call Center apoiam o supervisor no projeto e dimensionamento dos parâmetros
            de atendimento, permitindo identificar e agir sobre gargalos. Respostas a perguntas como Qual é o tempo de
            espera até o atendimento? ou Precisamos contratar mais um atendente? são respondidas pelos diferentes tipos
            de relatórios disponíveis.
          </p>
        </div>
      </div>
    </div> -->
  </section>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4" id="phone-report">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/phone-report-1.png" alt="Phone Report" width="650">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">Phone <span
            class="text-info">Report</span></h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Controle total da telefonia da sua
          empresa
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Phone Report é um sistema <span
            class="text-secondary fw-bold">100% web de tarifação telefônica</span> que te permite analisar, de
          forma precisa, os gastos com ligações telefônicas. É uma solução licenciada, compatível com as plataformas
          <a href="flux-ip" class="link-primary text-decoration-none">Flux IP</a> e <a href="ision-ip"
            class="link-primary text-decoration-none">Ision IP</a> da Leucotron.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Possui <span
            class="text-secondary fw-bold">relatórios personalizáveis</span> que podem ser
          exportados para um arquivo CSV e ainda serem enviados periodicamente para o seu e-mail.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Com o Phone Report é possível tomar atitudes
          para <span class="text-secondary fw-bold">otimizar o uso dos telefones no seu negócio</span> e conscientizar
          seus funcionários para que evitem abusos no uso dos recursos de telefonia.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">Você pode agrupar os ramais da sua empresa para
          organizar as informações dos <span class="text-secondary fw-bold">relatórios por setor, departamento, área
            ou centro
            de custo</span> por exemplo.
        </p>
        <div class="my-3 py-4">
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Relatórios personalizáveis.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Cadastro de operadoras facilitado.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Tarifação multisite.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Agendamento de relatórios.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">100% Web.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Integração com Phonebook.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4" id="sentinela">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/sentinela-1.png" alt="Sentinela" width="560">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 text-bluejeans fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">Sentinela
        </h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Redirecionador de Ligações
        </h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O <span
            class="text-secondary fw-bold">Sentinela</span> foi criado para interceptar as
          chamadas de entrada pelo tronco digital ou VoIP e, antes que a ligação seja efetivamente atendida, tomar
          alguma ação. As ações podem ser: <span class="text-secondary fw-bold">bloquear, redirecionar ou liberar uma
            ligação</span>.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">A tomada de decisão é baseada no número,
          categoria ou DDR do chamador, e podem ser definidas <span class="text-secondary fw-bold">ações diferentes em
            função de data e hora para o mesmo número</span>.
        </p>
        <div class="my-3 py-4">
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
            <p class="lead">Flexível em sua configuração, o Sentinela permite a criação de filtros para tomar ações
              sobre números específicos e máscaras para tomar ações sobre um conjunto de números.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
            <p class="lead">Recurso eficaz para bloquear o recebimento de chamadas provindas de números com histórico
              de trote.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
            <p class="lead">Atendimento exclusivo para clientes cadastrados.
            </p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
            <p class="lead">Encaminhamento das ligações de entrada de acordo com a origem (DDD / local / interurbanos
              / prefixos e muito mais).</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-bluejeans fs-3" style="width: 35px;"></i>
            <p class="lead">Bloqueio de números específicos e criação de listas de permissão.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4" id="avali-e">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/avali-e-1.png" alt="Avali-E" width="600">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">Avali-<span
            class="text-info">E</span></h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Sistema de Avaliação de Atendimento</h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O <span class="text-secondary fw-bold">Sistema
            de Avaliação de Atendimento Avali-E</span> permite à sua empresa <span class="text-secondary fw-bold">medir
            a qualidade do serviço de atendimento telefônico</span> prestado aos
          usuários.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">É um recurso que pode ser agregado à plataforma
          de comunicação PABX <a href="ision-ip" class="link-primary text-decoration-none">Ision IP</a> e aplicado a
          call centers, estruturas de atendimento de pequeno porte (como deliveries, por exemplo), grupos atendedores
          e até mesmo em unidades de negócio e setores de uma empresa.
        </p>
        <div class="my-3 py-4">
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Permite exportar os dados para formato de planilha eletrônica (xls).</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Localize pelo número do protocolo a gravação da chamada avaliada.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Tela com informações diretas e intuitivas.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4" id="guest-center">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/guest-center-1.png" alt="Guest Center" width="600">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">Guest <span
            class="text-lavander">Center</span></h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Integração Hoteleira</h4>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100">O <span class="text-secondary fw-bold">Guest
            Center</span> conecta a telefonia do seu hotel ao sistema de gestão (PMS), permitindo <span
            class="text-secondary fw-bold">a otimização de diversas atividades de rotina do hotel</span> e uma melhor
          gestão dos custos de telefonia.
        </p>
        <p class="lead mb-3" data-aos="fade-right" data-aos-duration="1100">Através de seus recursos, você <span
            class="text-secondary fw-bold">otimiza o trabalho dos funcionários</span> e reduz o tempo de espera do
          hóspede no check in e check out.
        </p>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 my-3 py-4">
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Despertador automático.</p>
          </div>
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Controle de uso.</p>
          </div>
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Lançamentos.</p>
          </div>
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Correio de voz.</p>
          </div>
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Estado do quarto.</p>
          </div>
          <div class="d-flex col align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-lavander fs-3" style="width: 35px;"></i>
            <p class="lead">Identificação de chamadas.</p>
          </div>
        </div>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Integração com os principais softwares
          hoteleiros do mercado:</h4>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 my-3 py-4">
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">DESBRAVADOR</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">IN SOLUTION IT</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">TOTVS CMNET</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">NEWHOTEL</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">OCL-VOLUX</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">SIHOT</p>
          </div>
          <div class="d-flex col align-items-start" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check flex-shrink-0 text-muted fs-3" style="width: 35px;"></i>
            <p class="">MICROS / ORACLE</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container col-xxl-8 px-4 py-lg-3 mb-4" id="lcdr">
    <div class="row flex-lg-row-reverse align-items-center overflow-hidden g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-4 offset-lg-1 overflow-hidden shadow-lg flex-grow-1 ms-2 p-0"
        style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;" data-aos="zoom-out-left"
        data-aos-duration="1200">
        <img class="img-content" src="/images/lcdr-1.png" alt="LCDR" width="520">
      </div>
      <div class="col-lg-7">
        <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="flip-right" data-aos-duration="900">LCDR</h2>
        <h4 class="lh-1 mb-3" data-aos="flip-right" data-aos-duration="1100">Bilhetagem e registro de chamadas
          internas e externas</h4>
        <hr>
        <div class="my-3 py-4">
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Acesso web.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Histórico de chamadas.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Informações para a gestão do uso do sistema telefônico.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Exportação do histórico pesquisado para CSV.</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Informações de status das chamadas (atendido, não atendido e ocupado).</p>
          </div>
          <div class="d-flex align-items-start mb-2" data-aos="fade-right" data-aos-duration="1100">
            <i class="fas fa-check-circle flex-shrink-0 text-info fs-3" style="width: 35px;"></i>
            <p class="lead">Detalhamento do progresso das chamadas para análises e auditorias.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>