<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/flux-ip-3.png" class="d-block mx-lg-auto img-fluid" alt="Ision  IP" height="340"
          style="border-top-right-radius: 15%;border-bottom-right-radius: 15%;">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Leucotron <br> Flux
          <span class="text-info">IP</span>
        </h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100"><span class="text-secondary fw-bold">Flux
            IP</span> é uma moderna plataforma de comunicação desenvolvida pela Leucotron para atender a
          realidade da sua empresa.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Trata-se de um PABX baseado em software
          que pode ser instalado de forma <span class="text-secondary fw-bold">LOCAL</span> (servidor físico ou
          virtualizado) ou na <span class="text-secondary fw-bold">NUVEM</span>.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1300">Uma solução robusta, flexível e escalável
          que conta com a expertise de uma empresa com mais de <span class="text-secondary fw-bold">3 décadas de
            inovação</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="#recursos-flux-ip" class="btn btn-outline-primary btn-lg px-4 me-md-2">Recursos<span></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4" id="heading-3">
    <div class="row flex-lg overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7 flex-grow-1 px-lg-0">
        <img src="/images/solucoes-1.png" class="d-block mx-lg-auto img-fluid rounded-3" alt="Ision  IP" height="420"
          data-aos="zoom-out-right" data-aos-duration="1200">
      </div>
      <div class="col-lg-5">
        <h3 class="display-5 fw-bold lh-1 mb-3" data-aos="flip-left" data-aos-duration="1000">SOLUÇÕES PENSADAS PARA
          ATENDER NEGÓCIOS DE DIFERENTES PORTES
        </h3>
        <hr>
        <p class="lead" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor="#heading-3">Ideal para empresas
          que trabalham com diferentes volumes de ligações
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1200" data-aos-anchor="#heading-3">Por ser baseada em
          software, nossa solução é capaz de se <span class="text-secondary fw-bold">adequar ao tamanho da sua empresa
            no que diz respeito ao número de ramais</span>, chamadas simultâneas e recursos necessários.
        </p>
        <p class="lead" data-aos="fade-left" data-aos-duration="1400" data-aos-anchor="#heading-3">Além da <span
            class="text-secondary fw-bold">flexibilidade</span>, nossa solução possui também <span
            class="text-secondary fw-bold">elasticidade</span>, podendo aumentar e diminuir a sua capacidade de ramais
          de acordo com a sua operação.
        </p>
      </div>
    </div>
  </div>
  </section>

  <section class="container col-xxl-8 p-lg-4 px-4 mb-4" id="recursos-flux-ip">
    <h3 class="display-5 fw-bold pb-2 mt-4" data-aos="slide-right" data-aos-duration="900">Recursos</h3>
    <hr>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 overflow-hidden g-4 py-5 px-lg-5">
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="bi bi-telephone-forward-fill fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Gestão de filas</h3>
          <p class="lead">Distribua as ligações recebidas para um determinado setor ou grupo de atendimento.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-comments fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">URA</h3>
          <p class="lead">Atendimento automático das chamadas recebidas, com orientação por voz, e as
            encaminha ao destino de acordo com a opção discada pelo usuário.</p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-users fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Sala de conferência</h3>
          <p class="lead">A sala de conferência do Flux IP pode ser acessada via ramal, ligação externa e
            também via web.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="bi bi-display fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Softphone para desktop</h3>
          <p class="lead"><a href="softphones#contact-board" class="link-primary text-decoration-none">Contact
              Board</a> é um softphone para desktop com atalhos customizáveis para agilizar as atividades do
            dia-a-dia, como captura, conferência, correio de voz etc.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-mobile-alt fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Softphone para celular</h3>
          <p class="lead">Tenha o seu ramal sempre com você. <a href="softphones#leuco"
              class="link-primary text-decoration-none">Leuco</a> é um aplicativo para dispositivos
            móveis pensado no usuário.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="material-icons fs-1 text-white">&#xe0bb;</i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Terminais IP</h3>
          <p class="lead">Nossa plataforma é compatível com os principais fabricantes de terminais SIP
            homologados pela Anatel.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="far fa-address-book fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Phonebook</h3>
          <p class="lead">Um sistema de agenda empresarial com design responsivo, interface web amigável e
            integração com os softphones <a href="softphones#leuco" class="link-primary text-decoration-none">Leuco</a>
            e <a href="softphones#contact-board" class="link-primary text-decoration-none">Contact Board</a>.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="bi bi-clipboard-data fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Bilhetagem</h3>
          <p class="lead">Sistema de bilhetagem e registro de chamadas internas e externas com
            detalhamento do progresso das ligações para análises e auditorias.</p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-hand-holding-usd fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Tarifação</h3>
          <p class="lead"><a href="softwares#phone-report" class="link-primary text-decoration-none">Phone Report</a>
            é um sistema de tarifação 100% web com possibilidade de centralização de informações de várias
            localidades.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-microphone-alt fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Gravação</h3>
          <p class="lead">Sistema de gravação de chamadas, internas e externas, com acesso web para download dos
            arquivos.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-voicemail fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Voicemail</h3>
          <p class="lead">Recados de voz enviados por e-mail agilizam a comunicação e reduzem os custos com atendentes
            para o repasse de recados.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-headset fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Call Center</h3>
          <p class="lead">O <a href="softwares#call-center" class="link-primary text-decoration-none">Call Center</a>
            é uma plataforma de atendimento baseada em software pronta para o home office e escalável para acompanhar
            o crescimento da sua operação.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-laptop-house fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Acesso remoto</h3>
          <p class="lead">Configuração e diagnóstico com garantia de suporte rápido e especializado.
          </p>
        </div>
      </div>
      <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
        <div class="d-flex justify-content-center align-items-center bg-info bg-gradient icon-container mb-3">
          <i class="fas fa-lock fs-1 text-white"></i>
        </div>
        <div class="d-flex flex-column">
          <h3 class="resources-width mb-0">Criptografia</h3>
          <p class="lead">Para aumentar ainda mais a confiabilidade do sistema, o Flux IP conta com criptografia de
            áudio (SRTP).
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>