<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse overflow-hidden align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1000">
        <img src="/images/flux-slim-1.png" class="d-block mx-lg-auto img-fluid" alt="Flux Slim Cloud" width="700"
          style="border-top-right-radius: 15%;border-bottom-right-radius: 15%;">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="900">
          Leucotron <br> Flux Slim Cloud
        </h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100"><span class="text-secondary fw-bold">Flux Slim
            Cloud</span> é um <span class="text-secondary fw-bold">serviço de
            telefonia em nuvem</span> que dispensa qualquer hardware quando configurado com ramais e troncos IP.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Uma plataforma de custo
          acessível, desenvolvida para negócios que buscam por inovação, mobilidade e flexibilidade.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1300">Uma solução robusta, flexível e
          escalável que conta com a expertise de uma empresa com mais de <span class="text-secondary fw-bold">3 décadas
            de inovação</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="#recursos-flux-slim" class="btn btn-outline-primary btn-lg px-4 me-md-2">Recursos<span></span></a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="bg-white" id="flux-slim">
    <div class="container col-xxl-8 bg-light rounded-3 shadow px-4 py-lg-3 mb-4">
      <div class="row flex-lg align-items-center overflow-hidden g-5 py-5" style="position: relative;">
        <div class="col-10 col-sm-8 col-lg-6 flex-grow-1 px-lg-0" data-aos="fade-right" data-aos-duration="1200"
          data-aos-anchor="#flux-slim">
          <img src="/images/cloud2.png" class="d-block mx-lg-auto img-fluid rounded-3" data-aos="zoom-out"
            data-aos-duration="1300" data-aos-anchor="#flux-slim" alt="Cloud Monitoring">
        </div>
        <div class="col-lg-6">
          <h2 class="display-4 fw-bold lh-1 mb-3" data-aos="slide-left" data-aos-duration="1100"
            data-aos-anchor="#flux-slim">Benefícios do sistema em nuvem</h2>
          <p class="lead" data-aos="fade-left" data-aos-duration="900" data-aos-anchor="#flux-slim">A plataforma <span
              class="text-secondary fw-bold">Flux Slim Cloud</span> foi projetada para oferecer uma experiência contínua
            de uso, com hospedagem profissional e monitoramento 24h por
            dia, o que garante a <span class="text-secondary fw-bold">estabilidade do seu sistema de telefonia</span>.
          </p>
          <p class="lead" data-aos="fade-left" data-aos-duration="1100" data-aos-anchor="#flux-slim">Atividades de
            configuração e diagnóstico podem
            ser realizadas remotamente, desta forma, no momento em que sua empresa mais precisar, contará com garantia
            de <span class="text-secondary fw-bold">suporte rápido e especializado</span>.
          </p>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-lg-3 mb-4" id="beneficios">
      <h3 class="display-5 fw-bold pb-2" data-aos="slide-right" data-aos-duration="900">Outros benefícios</h3>
      <hr>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="900">
          <i class="fas fa-tablet-alt flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Mobilidade</h4>
            <p>Pode ser usado em celulares e tablets.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="1000">
          <i class="fas fa-wallet flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Economia</h4>
            <p>Ligações sem custos entre os números internos.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="1100">
          <i class="fas fa-cogs flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Facilidades</h4>
            <p>Gravação das ligações internas e externas.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="1200">
          <i class="fas fa-bolt flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Eficiência</h4>
            <p>Não se paga pela ociosidade dos recursos.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="900">
          <i class="fas fa-history flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Redundância</h4>
            <p>Recuperação ágil.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start" data-aos="zoom-in" data-aos-duration="1000">
          <i class="fas fa-laptop-code flex-shrink-0 text-muted fs-2 mx-2 feature-icon"></i>
          <div>
            <h4 class="fw-bold mb-0">Disponibilidade</h4>
            <p>Agilidade na manutenção.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 px-4 py-lg-3 mb-4" id="recursos-flux-slim">
      <h3 class="display-5 fw-bold pb-2" data-aos="slide-right" data-aos-duration="900">Recursos</h3>
      <hr>
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 overflow-hidden g-4 py-5 px-lg-5" id="anchor-1">
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="bi bi-telephone-forward-fill fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Gestão de filas</h3>
            <p class="lead">Distribua as ligações recebidas para um determinado setor ou grupo de atendimento sem a
              necessidade de um software de call center.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-comments fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">URA</h3>
            <p class="lead">Atendimento automático das chamadas recebidas, com orientação por voz, e as encaminha ao
              destino de acordo com a opção discada pelo usuário.</p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-users fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Sala de conferência</h3>
            <p class="lead">A sala de conferência do Flux IP pode ser acessada via ramal, ligação externa e também via
              web.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="bi bi-display fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Softphone para desktop</h3>
            <p class="lead"><a href="softphones#contact-board" class="link-primary text-decoration-none">Contact
                Board</a> é um softphone para desktop com atalhos customizáveis para agilizar as atividades do
              dia-a-dia, como captura, conferência, correio de voz etc.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-mobile-alt fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Softphone para celular</h3>
            <p class="lead">Tenha o seu ramal sempre com você. <a href="softphones#leuco"
                class="link-primary text-decoration-none">Leuco</a> é um aplicativo para dispositivos móveis pensado no
              usuário.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="material-icons fs-1 text-white">&#xe0bb;</i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Terminais IP</h3>
            <p class="lead">Nossa plataforma é compatível com os principais fabricantes de terminais SIP homologados
              pela Anatel.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="bi bi-clipboard-data fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Bilhetagem</h3>
            <p class="lead">Sistema de bilhetagem e registro de chamadas internas e externas com detalhamento do
              progresso das ligações para análises e auditorias.</p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-microphone-alt fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Gravação</h3>
            <p class="lead">Sistema de gravação de chamadas, internas e externas, com acesso web para download dos
              arquivos.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-laptop-house fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Acesso remoto</h3>
            <p class="lead">Configuração e diagnóstico com garantia de suporte rápido e especializado.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-mint bg-gradient icon-container mb-3">
            <i class="fas fa-lock fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Criptografia</h3>
            <p class="lead">Para aumentar ainda mais a confiabilidade do sistema, o Flux IP conta com criptografia de
              áudio (SRTP).
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>