<%- include('../views/partials/header') %>

  <div class="container col-xxl-8 overflow-hidden px-4 py-lg-3 mb-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 flex-grow-1" data-aos="fade-left" data-aos-duration="1200">
        <img src="/images/ision-ip-1.png" class="d-block mx-lg-auto img-fluid" alt="Ision IP"
          width="480" style="border-radius: 15%">
      </div>
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold lh-1 mb-3" data-aos="slide-right" data-aos-duration="800">Leucotron <br> Ision
          <span class="text-danger">IP</span>
        </h1>
        <hr>
        <p class="lead" data-aos="fade-right" data-aos-duration="1100"><span class="text-secondary fw-bold">Ision
            IP</span> é uma plataforma de comunicação PABX <span class="text-secondary fw-bold">amplamente
            flexível</span>, e possui o que há de mais moderno em
          integração das tecnologias analógica, digital e IP.</p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1200">Oferece maior mobilidade, e muitas vezes,
          <span class="text-secondary fw-bold">menor investimento em infraestrutura</span>, não sendo necessário a troca
          dos
          seus aparelhos telefônicos atuais.
        </p>
        <p class="lead" data-aos="fade-right" data-aos-duration="1300">Foi projetado para atingir excelente
          performance e conta com a expertise de uma empresa com mais de <span class="text-secondary fw-bold">3 décadas
            de inovação</span>.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-aos="zoom-out" data-aos-duration="1000">
          <a href="#recursos-ision-ip" class="btn btn-outline-primary btn-lg px-4 me-md-2">Recursos<span></span></a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="bg-white mb-4" id="ision-ip">
    <div class="container col-xxl-8 px-4 py-lg-4 mb-5">
      <h3 class="display-5 fw-bold pb-2 mt-4" data-aos="slide-right" data-aos-duration="900">Modelos e capacidades
      </h3>
      <hr>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 overflow-hidden py-4 mt-4 g-3 px-lg-5">
        <div class="col" data-aos="slide-up" data-aos-duration="1200">
          <div class="card bg-light pabx-card shadow-sm">
            <img src="/images/ision-ip-1500.png" class="card-img-top" alt="Ision IP 1500">
            <div class="card-body border-top">
              <h3 class="card-title fw-bold">Ision IP <span class="badge" style="background-color: #64b5f6;">1500</span></h3>
              <p class="card-text">4 slots de 8 canais, até 62 portas TDM e até 64 troncos IP e 200 ramais IP.</p>
            </div>
          </div>
        </div>
        <div class="col" data-aos="slide-up" data-aos-duration="1000">
          <div class="card bg-light pabx-card shadow-sm">
            <img src="/images/ision-ip-1600.png" class="card-img-top" alt="Ision IP 1600">
            <div class="card-body border-top">
              <h3 class="card-title fw-bold">Ision IP <span class="badge" style="background-color: #2196f3;">1600</span></h3>
              <p class="card-text">8 slots de 8 canais, até 94 portas TDM e até 64 troncos IP e 200 ramais IP.</p>
            </div>
          </div>
        </div>
        <div class="col" data-aos="slide-up" data-aos-duration="1000">
          <div class="card bg-light pabx-card shadow-sm">
            <img src="/images/ision-ip-3000R.png" class="card-img-top" alt="Ision IP 3000R">
            <div class="card-body border-top">
              <h3 class="card-title fw-bold">Ision IP <span class="badge" style="background-color: #1976d2;">3000R</span></h3>
              <p class="card-text">10 slots de 32 canais, até 600 portas (TDM + IP) e até 128 troncos IP e 500 ramais
                IP.</p>
            </div>
          </div>
        </div>
        <div class="col" data-aos="slide-up" data-aos-duration="1200">
          <div class="card bg-light pabx-card shadow-sm">
            <img src="/images/ision-ip-4000.png" class="card-img-top" alt="Ision IP 4000">
            <div class="card-body border-top">
              <h3 class="card-title fw-bold">Ision IP <span class="badge" style="background-color: #0d47a1;">4000</span></h3>
              <p class="card-text">14 slots de 32 canais, até 600 portas (TDM + IP) e até 128 troncos IP e 500 ramais
                IP.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-xxl-8 p-lg-4 px-4 mb-4" id="recursos-ision-ip">
      <h3 class="display-5 fw-bold pb-2 mt-4" data-aos="slide-right" data-aos-duration="900">Recursos</h3>
      <hr>
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 overflow-hidden g-4 py-5 px-lg-5">
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="bi bi-telephone-forward-fill fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Hot desking</h3>
            <p class="lead">Troca de ramais de forma rápida e prática para postos de trabalho ocupados por
              mais de uma pessoa ou nas mudanças de layout dos colaboradores.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-network-wired fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Interligação entre unidades</h3>
            <p class="lead">Possibilita a interligação entre matriz e filiais proporcionando comunicação a
              custo zero entre as localidades, centralização ou descentralização de serviços e acesso a troncos
              remotos.</p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="bi bi-telephone-outbound-fill fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Atendimento automático</h3>
            <p class="lead">Com diversos canais para atendimento simultâneo, o Atendimento Automático do
              Ision IP se destaca pela flexibilidade de configuração.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-desktop fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Terminal Virtual</h3>
            <p class="lead"><a href="softphones#contaction" class="link-primary text-decoration-none">Contaction</a> é
              um terminal virtual para telefonistas e usuários com funções de um ramal telefônico direto pelo
              computador.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-mobile-alt fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Mobilidade</h3>
            <p class="lead">O uso de ramais IP e softphones aumentam a possibilidade de interação com o
              sistema telefônico, resultando no aumento de produtividade e disponibilidade dos funcionários.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-phone-square fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Terminais</h3>
            <p class="lead">Nossa plataforma é compatível com os principais fabricantes de terminais
              homologados pela Anatel.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-hand-holding-usd fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Tarifação</h3>
            <p class="lead"><a href="softwares#phone-report" class="link-primary text-decoration-none">Phone Report</a>
              é um sistema de
              tarifação 100% web com possibilidade de centralização de informações de várias localidades.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-microphone-alt fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Gravação</h3>
            <p class="lead">Sistema de gravação de chamadas com hardware dedicado ou web.</p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1100">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-voicemail fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Voicemail</h3>
            <p class="lead">Recados de voz enviados por e-mail agilizam a comunicação e reduzem os custos
              com atendentes para o repasse de recados.
            </p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="900">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-headset fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Call Center</h3>
            <p class="lead">O <a href="softwares#call-center" class="link-primary text-decoration-none">Call Center</a>
              é uma plataforma de atendimento pronta para o home office e escalável para acompanhar o crescimento da sua
              operação.</p>
          </div>
        </div>
        <div class="col border-bottom" data-aos="slide-up" data-aos-duration="1000">
          <div class="d-flex justify-content-center align-items-center bg-bluejeans bg-gradient icon-container mb-3">
            <i class="fas fa-shield-alt fs-1 text-white"></i>
          </div>
          <div class="d-flex flex-column">
            <h3 class="resources-width mb-0">Sentinela</h3>
            <p class="lead">Sistema redirecionador de ligações para atendimento exclusivo, bloqueio de
              números específicos e criação de listas de permissão.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/footer') %>