$purple: #4f5d95;
$meditation: #e3e2df;
$grapefruit-0: #ed5565;
$grapefruit-1: #da4453;
$bittersweet-0: #fc6e51;
$bittersweet-1: #e9573f;
$sunflower-0: #ffce54;
$sunflower-1: #f6bb42;
$grass-0: #a0d468;
$grass-1: #8cc152;
$mint-0: #48cfad;
$mint-1: #37bc9b;
$aqua-0: #4fc1e9;
$aqua-1: #3bafda;
$bluejeans-0: #5d9cec;
$bluejeans-1: #4a89dc;
$lavander-0: #ac92ec;
$lavander-1: #967adc;
$pinkrose-0: #ec87c0;
$pinkrose-1: #d770ad;
$lightgray-0: #f5f7fa;
$lightgray-1: #e6e9ed;
$mediumgray-0: #ccd1d9;
$mediumgray-1: #aab2bd;
$darkgray-0: #656d78;
$darkgray-1: #434a54;
